<html>
    <head>
        <% title="Hello" %>
        <%- include("customer/header.ejs"); %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.js" integrity="sha512-i48GtNrU5tVNKFkvIT3nArzgcIYGLxb0t6Ok+yu6yybHksvifmC+mmT2c3II7PZgUsA5sFnxROrkeM5Yt46g3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/ViewModel/login.js"></script>
    </head>
    <body>
        <div>
            <h1>TÉT</h1>
        </div>
        <div class="container">
            <%- include("test_file/login.ejs"); %>
        </div>
    </body>
</html>