<div id="create_product">
    <div class="form-group">
        <input class="form-control m-1" placeholder="Tên">
        <input class="form-control m-1" placeholder="Giá">
        <textarea class="form-control m-1" placeholder="Mô tả"></textarea>
    </div>
</div>
<script>
    var app_create_product = new Vue({
        el: "#create_product",
        data: {

        },
        methods: {

        },
        created: function(){

        }
    })
</script>