<html>
    <head>
        <%- include("../header.ejs", {title: "Cập nhật giá"}) %>
        <script src="/js/product.js"></script>
    </head>
    <body class="container">
        <%- include("menu.ejs"); %>
        <%- include("create.ejs"); %>
    </body>
</html>