<html>
    <head>
        <%- include("../header.ejs", {title: "Kho ảnh"}) %>
        <script src="/js/customer/model.js"></script>
        <script src="/js/customer/cart.js"></script>
     </head>
    <body class="container-fluid">
        <div>   
            <%- include("../menu.ejs") %>
        </div>
        <div class="jumbotron">
            <h1>Kho ảnh</h1>
            <div>
                <p>Do sự ph&aacute;t triển của <a href="https://www.facebook.com/groups/creta.vn" target="_blank">Group Hỗ trợ kỹ thuật CRETA.VN</a> đang bắt đầu hướng tới th&agrave;nh vi&ecirc;n 500. Rủi ro về t&agrave;i liệu v&agrave; vấn đề bắt đầu kh&oacute; kiểm so&aacute;t.</p>
                <p>CRETA.VN sẽ ph&aacute;t triển c&ocirc;ng cụ để quy hoạch lại c&aacute;c hạng mục:</p>
                <ul>
                <li><a href="/tool/document" target="_blank">T&agrave;i liệu kỹ thuật hỗ trợ</a> (Release - 23/1 - phi&ecirc;n bản beta)</li>
                <li>Thư viện ảnh chia sẻ c&ocirc;ng tr&igrave;nh (Release - 10/2 - phi&ecirc;n bản beta)</li>
                </ul>
                <p>Hướng đến việc ph&aacute;t triển Group ổn định v&agrave; c&oacute; cơ sở hơn. Rất tiếc v&igrave; sự x&acirc;y dựng chậm trễ của đội ngũ CRETA.VN n&ecirc;n bạn đang đọc tin n&agrave;y.&nbsp;</p>
                <p>Ch&uacute;c bạn một ng&agrave;y c&ocirc;ng tr&igrave;nh th&agrave;nh c&ocirc;ng,</p>
                <p>Năm mới sức khoẻ,</p>
                <p>Tr&acirc;n trọng./.</p>
                <p>Creta Solu</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </body>
</html>