<div id="create_process">

</div>
<script>
    var app_create_process = new Vue({
        el: "#create_process",
        data: {

        },
        methods: {

        },
        created(){
            
        }
    });
</script>