<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.min.js"></script>
<div id="create_upload">
    <input type="file" id="my_file_input" />
    <div id='my_file_output'></div>
</div>
<script src="/pc-creta/upload.js"></script>
<script>
    var app_create_upload = new Vue({
        el: "#create_upload",
        data: {

        },
        methods: {

        },
        created(){
            
        }
    });
</script>