<div id="compare_chose">
    <h3>{{title}}</h3>
    <!-- KHUNG TIFM KIEEMS -->
    <div class="">
        <input class="form-control" placeholder="Nhập tên sản phẩm" v-model="name">
        <div class="text-center my-2">
            <button class="btn btn-primary" @click="findProduct(name)">Tìm kiếm</button>
        </div>
    </div>
    <br>
    <!-- Khung kết quả sản phẩm -->
    <div>
        <div class="">
            <table class="table table-hover">
                <tr v-for="p in fProducts" @click="addResult(p)">
                    <td>{{p.getName()}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    var app_compare_chose = new Vue({
        el: "#compare_chose",
        mixins: [_support_search],
        data: {
            title: "",
            name: "",
        },
        methods: {
            addResult: function(p){
                app_compare_result.add(p);
            }
        },
        create(){

        }
    })
</script>