<div>
    <div class="text-center my-3">
        <h4>Đăng ký tài khoản</h4>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">person</i></span>
        </div>
        <input type="text" class="form-control" placeholder="Họ">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">person</i></span>
        </div>
        <input type="text" class="form-control" placeholder="Tên">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">email</i></span>
        </div>
        <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">phone</i></span>
        </div>
        <input type="text" class="form-control" placeholder="Điện thoại">
    </div>           
    <div class="input-group mb-3" >
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">lock</i></span>
        </div>
        <input type="password" class="form-control" placeholder="Mật khẩu">
    </div>
    <div class="text-center my-3">
        <button class="btn btn-primary">Đăng ký</button>
    </div>
</div>