<div class="fixed-bottom" id="footer">
    <div class="row text-center">
        <div class="col alert alert-primary">
            <a href="/info" class="btn btn-primary form-control">Liên hệ mua hàng</a>
        </div>
        <div class="col alert alert-warning" v-if="myCart.getProducts().length > 0">
            <a href="/cart" class="btn btn-warning form-control">Xem giỏ hàng</a>
        </div>
    </div>
</div>
<script>
    var app_footer = new Vue({
        el: "#footer",
        data: {
            myCart: my_cart
        }
    })
</script>