<div class="jumbotron">
    <h1>Thông báo</h1>
    <p><i>v/V đăng nhập tra giá</i></p>
    <p>Từ ngày <strong>21/01/2022</strong> - khi tra giá sẽ yêu cầu đăng nhập.</p>
    <p>Anh em hãy <a href="#" onclick="app_collapsibleNavbar.notify_login({type: 'REGISTER'}); jQuery('#myModal').toggle();">đăng ký tài khoản</a> để không gặp khó khăn nhé!.</p>
    <p>Chi tiết xem thêm <a href="/thongbao">tại đây</a></p>
    <div>
        <p>Mọi trường hợp gặp khó khăn <a href="/info">liên hệ</a> nhân viên Creta để được hỗ trợ./.</p>
    </div>
  </div>