<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Creta Solu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/banggia">Bảng giá</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Công cụ
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/tool/checkport">Kiểm tra port</a>
                  <a class="dropdown-item" href="/tool/calchdd">Tính ổ cứng</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewpacking">Tra cứu đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/info">Liên hệ</a>
            </li>    
        </ul>
    </div>  
</nav>