<html>
    <head>
        <%- include("header.ejs", {title: "Thông báo"}) %>
        <script src="/js/customer/model.js"></script>
        <script src="/js/customer/cart.js"></script>
     </head>
    <body class="container-fluid">
        <div>   
            <%- include("menu.ejs",{}) %>
        </div>
        <div class="jumbotron">
            <h1>Thông báo</h1>
            <p><i>v/V đăng nhập tra giá</i></p>
            <p>- Hiện nay, một số <strong>khách hàng cuối sử dụng tính năng tra giá</strong> - làm ảnh hưởng đến việc báo giá của Đại lý.</p>
            <p>- Nên từ ngày 20/01/2022 - <strong>CRETA.VN</strong> - sẽ <strong>yêu cầu đăng nhập</strong> khi sử dụng tính năng <strong>tra giá</strong> trên CRETA.VN.</p>
            <p>- Để thuận tiện anh em đại lý <a href="#" onclick="app_collapsibleNavbar.notify_login({type: 'REGISTER'}); jQuery('#myModal').toggle();">đăng ký tài khoản tại đây</a></p>
            <p>- Creta sẽ tiến hành xác minh bằng 1 trong 2 cách sau đây:</p>
            <div class="alert alert-primary">
                <h4>1. Tự động</h4>
                <p>Đăng ký bằng <strong>số điện thoại</strong> mà đại lý từng mua hàng tại CRETA. Tài khoản này tự động sẽ xác minh.</p>
            </div>
            <div class="alert alert-success">
                <h4>2. Thủ công</h4>
                <p>CRETA.VN sẽ chủ động <strong>gọi điện</strong> xác minh từ 3-5 ngày sau khi quý khách đăng ký</p>
                <p>Hoặc khách hàng sẽ liên hệ trực tiếp tổng đài *0869 27 07 17* để được xác minh nâng cấp</p>
            </div>
            <div>
                <p>Vì một cộng đồng bền vững hơn - Creta rất tiếc vì sự bất tiện này./.</p>
            </div>
            <div>
                <p>Mọi trường hợp gặp khó khăn <a href="/info">liên hệ</a> nhân viên Creta để được hỗ trợ./.</p>
            </div>
          </div>
    </body>
</html>